@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;700&display=swap');

:root {
    --color1: rgb(55, 100, 85);
    --color2: rgb(28, 50, 43);
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: auto;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--color1);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background-color: aliceblue;
    padding: 50px;
    border-radius: 10px;
    font-size: 1.3em;
}



